<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen, projection">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <span class="headline">Who will win?</span>
        <span class="subtext">Predict the outcome of real URF matches</span>
    </div>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        Who will win? isn't endorsed by Riot Games and
        doesn't reflect the views or opinions of Riot Games or anyone officially
        involved in producing or managing League of Legends. League of Legends and
        Riot Games are trademarks or registered trademarks of Riot Games, Inc.
        League of Legends &#169; Riot Games, Inc.
    </footer>
</div>
</body>
</html>
